@mixin flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-base {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25em;
  font-family: $font-family;
  font-weight: 500;
}

@mixin arrow-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-black);
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;

  .arrow-btn {
    margin-left: auto;
  }

  margin-left: auto;

  &:hover {
    padding: 5px;
    border-radius: 50%;
    color: var(--green-black);
    font-size: 1.5rem;
  }
}

@mixin primary-button {
  @include button-base;
  background-color: var(--blue-black);
  color: white;

  &:hover {
    border: 2px dashed var(--blue-black);
    background-color: white;
    color: var(--green-black)
  }
}

@mixin secondary-button {
  @include button-base;
  background-color: var(--green-black);
  color: var(--blue-black);

  &:hover {
    border: 2px dashed var(--blue-black);
    background-color: white;
    color: var(--green-black)
  }
}

@mixin third-button {
  @include button-base;
  background-color: var(--green-black);
  color: var(--blue-black);

  &:hover {
    border: 2px dashed var(--blue-black);
    background-color: white;
    color: var(--green-black)
  }
}

@mixin border {
  border: 2px dashed var(--blue-black);
  border-radius: 5px;
}

@mixin subtitle {
  font-size: 3.75rem;
  font-weight: 500;
  text-align: center;
}

@mixin highlight {
  background: linear-gradient(transparent 20%, #13e5c0 20%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 70%;
  transition: background-size 0.25s ease-in;

  &:hover {
    background-size: 100% 88%;
  }
}