// Couleurs - A modifier selon projet
:root {
    --green-super-light: #f4fcf9;
    --green-light: #c6ffe0;
    --green-black: #13e5c0;
    --blue-light: #19303d;
    --blue-black: #132835;
}

// Typographie - A modifier selon projet
$font-family: 'IBM Plex Mono', sans-serif;
$base-font-size: 1rem;