header {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--green-light);
    padding: 20px 50px;
    color: var(--blue-black);
    position: fixed;
    top: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    .logo {
        font-size: 2em;
        font-family: $font-family;
        text-transform: uppercase;
        font-weight: 500;
        color: var(--blue-black);
    }

    nav {
        display: flex;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 50px;
        font-weight: 500;
        margin-left: 50px;

        a {
            color: var(--blue-black);
            text-decoration: none;
            font-size: 1.25em;
        }
    }

    .header-buttons {
        display: flex;
        gap: 20px;

        .btn.primary {
            @include primary-button;
        }

        .btn.secondary {
            @include secondary-button;
        }
    }
}

// Style pour les appareils mobiles
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo,
    .nav-links,
    .header-buttons {
        margin-bottom: 20px;
        text-align: center;
    }

    .header-buttons {
        display: flex;
        gap: 20px;
    }
}

@media screen and (max-width: 375px) {
    header {
        position: relative;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        right: 0px;
        left: 0px;

        .logo {
            display: flex;
            justify-content: center;
        }

        nav {
            width: 100%;
            display: block;
        }

        .nav-links {
            width: 100%;
            margin-left: 0;
            gap: 20px;
            flex-direction: column;
            align-items: center;
        }
    }
}