@charset "UTF-8";
:root {
  --green-super-light: #f4fcf9;
  --green-light: #c6ffe0;
  --green-black: #13e5c0;
  --blue-light: #19303d;
  --blue-black: #132835;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  max-width: 1440px;
  width: 1440px;
  min-width: 320px;
  margin: auto;
  padding: 0;
  cursor: none;
  /* Cache le curseur par défaut */
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 2px;
  height: 2px;
  overflow: hidden;
}

:focus {
  outline: 2px solid var(--green-black);
  outline-offset: 2px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.mouse-bubble {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  /* Empêche la bulle d'interférer avec les interactions de la souris */
  z-index: 1000;
  transform: translate(-50%, -50%);
}

.custom-cursor-link {
  /* à mettre sur tous les liens */
  cursor: url("/src/images/eye.svg"), auto;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
}
@media (max-width: 375px) {
  body {
    width: 100%;
    right: 0px;
    left: 0px;
  }
}
header {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green-light);
  padding: 20px 50px;
  color: var(--blue-black);
  position: fixed;
  top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
header .logo {
  font-size: 2em;
  font-family: "IBM Plex Mono", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--blue-black);
}
header nav {
  display: flex;
}
header .nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
  font-weight: 500;
  margin-left: 50px;
}
header .nav-links a {
  color: var(--blue-black);
  text-decoration: none;
  font-size: 1.25em;
}
header .header-buttons {
  display: flex;
  gap: 20px;
}
header .header-buttons .btn.primary {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25em;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  background-color: var(--blue-black);
  color: white;
}
header .header-buttons .btn.primary:hover {
  border: 2px dashed var(--blue-black);
  background-color: white;
  color: var(--green-black);
}
header .header-buttons .btn.secondary {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25em;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  background-color: var(--green-black);
  color: var(--blue-black);
}
header .header-buttons .btn.secondary:hover {
  border: 2px dashed var(--blue-black);
  background-color: white;
  color: var(--green-black);
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo,
  .nav-links,
  .header-buttons {
    margin-bottom: 20px;
    text-align: center;
  }
  .header-buttons {
    display: flex;
    gap: 20px;
  }
}
@media screen and (max-width: 375px) {
  header {
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    right: 0px;
    left: 0px;
  }
  header .logo {
    display: flex;
    justify-content: center;
  }
  header nav {
    width: 100%;
    display: block;
  }
  header .nav-links {
    width: 100%;
    margin-left: 0;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}
footer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue-light);
  padding-bottom: 50px;
  box-shadow: 0px 11px 10px 0px rgb(66, 68, 90);
}
footer .container-widget-footer {
  max-width: 93%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  background-color: var(--blue-black);
  text-align: left;
  padding: 20px 50px 30px;
  margin-top: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
footer .container-widget-footer .widget-footer {
  flex: 1;
  margin: 10px;
}
footer .container-widget-footer .widget-footer h2 {
  color: white;
  font-size: 1.25rem;
  padding-bottom: 10px;
}
footer .container-widget-footer .widget-footer h2:hover {
  color: var(--green-black);
}
footer .container-widget-footer .widget-footer a:hover {
  color: var(--green-light);
}
footer .container-widget-footer .widget-footer ul li a {
  color: white;
}
footer .container-widget-footer .widget-footer li {
  padding-bottom: 5px;
}
footer .container-widget-footer .widget-footer .social-icons a {
  color: white;
  padding-right: 5px;
}
footer .container-widget-footer .widget-footer .social-icons a:hover {
  font-size: 1.5rem;
}
footer .copyright {
  max-width: 93%;
  width: 100%;
  background-color: var(--blue-black);
  color: white;
  padding: 10px;
  padding-bottom: 40px;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media screen and (max-width: 768px) {
  footer {
    background-color: var(--blue-black);
  }
  footer .container-widget-footer {
    width: 90%;
    text-align: left;
    padding: 20px 20px 30px;
    margin-top: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  footer .container-widget-footer .widget-footer {
    margin: 10px 0;
  }
}
@media (max-width: 375px) {
  footer {
    width: 100%;
  }
  footer .container-widget-footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  footer .container-widget-footer .widget-footer {
    margin: 10px 0;
    text-align: center;
  }
  footer .copyright {
    padding-bottom: 20px;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-light);
  margin-top: 50px;
  padding: 100px 50px 100px 70px;
}

.hero-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.icon-left {
  margin-right: 10px;
  font-size: 1.5rem;
}

.icon-right {
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: var(--green-black);
  padding: 5px;
  color: white;
  font-size: 1rem;
}

h1 {
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 25px;
}

.text-hero {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.hero-right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.hero-right img {
  max-width: 95%;
  height: auto;
  border-radius: 15px;
}

.btn-hero-framework {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  margin: 10px 0;
  border: 2px dashed var(--blue-black);
  border-radius: 5px;
  background-color: white;
  color: var(--blue-black);
  font-size: 1.25rem;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.btn-hero-framework:hover {
  background-color: transparent;
}

.btn-hero-cta {
  padding: 15px 25px;
  margin: 10px 0;
  border: 2px dashed var(--blue-black);
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: "IBM Plex Mono", sans-serif;
  cursor: pointer;
}
.btn-hero-cta:hover {
  background-color: white;
}

.part1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-bottom: 100px;
}
.part1 h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.icon-part1 {
  font-size: 4rem;
  color: var(--green-black);
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 100px 50px;
}
.about img {
  max-width: 95%;
  height: auto;
  border-radius: 25px;
}

.about-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.about-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 30px;
  margin-top: 100px;
}
.about-right .icon-about {
  font-size: 1.25rem;
  color: var(--green-black);
  padding-bottom: 30px;
  align-items: center;
}
.about-right .fa-code,
.about-right .fa-file-pen,
.about-right .fa-desktop,
.about-right .fa-cubes,
.about-right .fa-dollar-sign {
  border: 2px dashed var(--blue-black);
  border-radius: 50%;
  padding: 10px 10px;
}
.about-right h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.about-right .highlight {
  display: inline-block;
  background: linear-gradient(transparent 60%, rgba(186, 85, 211, 0.5019607843) 60%);
  padding: 0 1px;
}
.about-right .subtitle-about {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 20px;
}
.about-right .text-about {
  padding-bottom: 20px;
}

.btn-about {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

.arrow-icon {
  text-align: center;
  padding-top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--green-light);
  color: var(--blue-black);
  border: 2px dashed var(--blue-black);
  font-size: 1rem;
}

.btn-about button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 500;
}
.btn-about button:hover {
  text-decoration-line: underline;
  color: var(--green-black);
  font-size: 1.25rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px 100px 50px;
}
.features .subtitle {
  font-size: 3.75rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.features .feature-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px dashed var(--blue-black);
  border-radius: 5px;
  margin-bottom: 30px;
  padding-right: 75px;
}
.features .feature-item .icon-part1 {
  flex: 0 0 37%;
  font-size: 7rem;
  color: var(--green-black);
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .feature-item .text-container {
  flex: 0 0 63%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.features .feature-item .text-container p {
  margin-bottom: 15px;
}
.features .feature-item .text-container .btn.third {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25em;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  background-color: var(--green-black);
  color: var(--blue-black);
  width: auto;
  /* Ajuste la largeur du bouton pour s'adapter à son contenu */
  align-self: flex-start;
  /* Assure que le bouton s'aligne à gauche */
}
.features .feature-item .text-container .btn.third:hover {
  border: 2px dashed var(--blue-black);
  background-color: white;
  color: var(--green-black);
}

.why {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px 100px 50px;
}
.why .subtitle {
  font-size: 3.75rem;
  font-weight: 500;
  text-align: center;
}
.why .subtitle .highlight {
  background: linear-gradient(transparent 20%, #13e5c0 20%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 70%;
  transition: background-size 0.25s ease-in;
}
.why .subtitle .highlight:hover {
  background-size: 100% 88%;
}
.why .text {
  text-align: center;
  font-size: 1.25rem;
  padding: 0 150px;
  margin-bottom: 100px;
}
.why .why-content {
  display: flex;
  gap: 20px;
}
.why .why-left,
.why .why-right {
  flex: 1;
}

.why-left {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-black);
  color: white;
  padding: 20px;
  border-radius: 5px;
  padding-left: 35px;
  padding-right: 35px;
  margin-right: 10px;
}
.why-left h3 {
  margin-bottom: 15px;
}
.why-left p {
  margin-bottom: 20px;
}
.why-left button {
  align-self: flex-start;
  border: none;
  background: none;
  padding: 0;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: "IBM Plex Mono", sans-serif;
}
.why-left button .arrow-btn {
  margin-left: 15px;
  align-items: flex-end;
}
.why-left button .arrow-btn:hover {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  color: var(--green-black);
  font-size: 1.5rem;
}

.why-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.why-right .why-container,
.why-right .text-container {
  padding: 20px 30px;
  border: 2px dashed var(--blue-black);
  border-radius: 5px;
}
.why-right .why-container h3,
.why-right .text-container h3 {
  margin-bottom: 15px;
}
.why-right .why-container p,
.why-right .text-container p {
  margin-bottom: 15px;
}
.why-right .why-container button,
.why-right .text-container button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-black);
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  margin-left: auto;
}
.why-right .why-container button .arrow-btn,
.why-right .text-container button .arrow-btn {
  margin-left: auto;
}
.why-right .why-container button:hover,
.why-right .text-container button:hover {
  padding: 5px;
  border-radius: 50%;
  color: var(--green-black);
  font-size: 1.5rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue-black);
  color: white;
  padding: 75px 175px;
}
.product .subtitle {
  font-size: 3.75rem;
  font-weight: 500;
  text-align: center;
  padding: 25px 150px;
}
.product .text {
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 25px;
  padding-left: 200px;
  padding-right: 200px;
}
.product .btn.third {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25em;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  background-color: var(--green-black);
  color: var(--blue-black);
  width: auto;
  align-self: center;
}
.product .btn.third:hover {
  border: 2px dashed var(--blue-black);
  background-color: white;
  color: var(--green-black);
}
.product img {
  margin-top: 40px;
  border-radius: 15px;
}

.save-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.save-time .subtitle {
  font-size: 3.75rem;
  font-weight: 500;
  text-align: center;
  padding: 25px 175px;
  margin-bottom: 75px;
}
.save-time .highlight {
  background: linear-gradient(transparent 20%, #13e5c0 20%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 70%;
  transition: background-size 0.25s ease-in;
}
.save-time .highlight:hover {
  background-size: 100% 88%;
}

.save-time-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: left;
}
.save-time-container div {
  border: 2px dashed var(--blue-black);
  border-radius: 5px;
  padding: 25px 30px;
  background-color: var(--green-super-light);
  margin-bottom: 50px;
}
.save-time-container h3 {
  font-size: 2.5rem;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.team .subtitle {
  font-size: 3.75rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}
.team-container .team-member {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.team-container .team-member .img-team {
  width: 305px;
  height: 305px;
  border: 2px dashed var(--blue-black);
  border-radius: 10px;
}
.team-container .team-member .info-container {
  position: relative;
  bottom: 70px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2px 15px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}
.team-container .team-member .info-container .text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.team-container .team-member .info-container .text-info .name {
  font-weight: 700;
  font-size: 1.25rem;
  color: white;
}
.team-container .team-member .info-container .text-info .role {
  color: white;
}
.team-container .team-member .info-container .fa-linkedin-in {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--green-black);
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-black);
}
.team-container .team-member .info-container .fa-linkedin-in:hover {
  transform: scale(1.5);
  /* Augmente la taille de l'image au survol */
  transition: transform 0.3s ease;
}

.developpers {
  margin: 0 50px 75px;
}
.developpers h2 {
  margin-bottom: 25px;
}
.developpers .collapse {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 25px;
  background-color: var(--green-super-light);
  margin-bottom: 15px;
}
.developpers .title-collapse {
  display: flex;
  text-align: right;
  font-weight: 700;
  font-size: 1.25rem;
}
.developpers button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-black);
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  margin-left: auto;
}
.developpers button .arrow-btn {
  margin-left: auto;
}
.developpers button:hover {
  padding: 5px;
  border-radius: 50%;
  color: var(--green-black);
  font-size: 1.5rem;
}

.client {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--green-light);
}
.client img {
  width: 125px;
  margin: 75px 50px;
}

.testimony {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}
.testimony .container-testimony {
  text-align: left;
  max-width: 1000px;
  background-color: var(--blue-black);
  color: white;
  padding: 40px;
  border-radius: 10px;
}
.testimony .container-testimony .title-testimony {
  padding-bottom: 15px;
}
.testimony .container-testimony span {
  font-size: 1.5rem;
  font-weight: 600;
}
.testimony .container-testimony p {
  font-size: 1.25rem;
}
.testimony .container-testimony .name {
  color: var(--green-light);
}
.testimony .container-testimony img {
  width: 150px;
  color: white;
}

@media screen and (max-width: 768px) {
  .hero,
  .part1,
  .about,
  .features,
  .why,
  .product,
  .save-time,
  .team,
  .developpers,
  .client,
  .testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero {
    align-items: center;
    padding: 150px 0 50px;
  }
  .hero .hero-left {
    width: 77%;
  }
  .hero .hero-right img {
    display: none;
  }
  .hero h1 {
    font-size: 3.5rem;
  }
  .hero p {
    width: 75%;
  }
  .part1 {
    text-align: left;
    margin: 0;
    padding: 50px;
  }
  .about {
    text-align: left;
    background-color: var(--green-super-light);
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .about .about-right {
    margin-top: 0;
    margin-left: 0;
  }
  .about h2 {
    font-size: 2.25rem;
  }
  .about p {
    width: 75%;
  }
  .about img {
    display: none;
  }
  .about .icon-about {
    display: none;
  }
  .features {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .features .subtitle {
    font-size: 2.5rem;
    text-align: left;
  }
  .features .feature-item .icon-part1 {
    padding: 0;
  }
  .text-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .why {
    padding-top: 20px;
  }
  .why .subtitle {
    font-size: 2.5rem;
    text-align: left;
  }
  .why .text {
    font-size: 1rem;
    padding: 0;
    margin-bottom: 50px;
  }
  .why .why-content {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .product {
    padding: 50px 0;
  }
  .product .subtitle {
    font-size: 2.5rem;
  }
  .product img {
    display: none;
  }
  .save-time {
    padding-top: 0px;
  }
  .save-time .save-time-container {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .save-time .subtitle {
    margin-top: 50px;
  }
  .team {
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .team p {
    padding-left: 20px;
  }
  .team .team-container {
    display: flex;
    flex-direction: column;
  }
  .team .team-member {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .developpers {
    padding-top: 0;
  }
  .developpers .title-collapse,
  .developpers .text-collapse {
    text-align: left;
  }
  .developpers h2 {
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .developpers .arrow-btn {
    padding: 15px;
  }
  .client {
    display: block;
  }
  .testimony {
    padding: 40px 80px;
  }
}
@media screen and (max-width: 375px) {
  .hero {
    margin-top: 0px;
    padding-top: 50px;
  }
  .hero h1 {
    font-size: 2.5rem;
    padding-top: 20px;
  }
  .features.item {
    margin-left: 25px;
    margin-right: 25px;
    padding-right: 0px;
  }
  .features .feature-item {
    display: block;
    padding-right: 0px;
  }
  .features .feature-item .icon-part1 {
    font-size: 3rem;
    padding-top: 20px;
  }
  .text-container {
    align-items: center;
  }
  .text-container p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .text-container button {
    margin-left: 45px;
    margin-right: 40px;
  }
  .why .why-content {
    width: 100%;
  }
  .product .text {
    padding-left: 100px;
    padding-right: 100px;
  }
  .developpers {
    margin-left: 20px;
    margin-right: 20px;
  }
  .developpers .title-collapse {
    font-size: 1rem;
  }
  .developpers .text-collapse {
    font-size: 0.875rem;
  }
  .developpers button {
    padding: 5px;
  }
  .client {
    padding: 20px 50px;
  }
  .client img {
    margin: 0;
  }
  .testimony {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}